body{
    margin: 0;
    padding: 0;
}

nav{
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background: white;
    z-index: 1;
}

main{
    margin-top: 150px;
}

footer{
    margin-top: 150px;
}

.first-site-name{
    font-weight: bold;
    text-transform: uppercase;
}

.last-site-name{
    letter-spacing: 3px;
    padding-left: 5px;
}

.nav-menu{
    list-style: none;
    text-align: center;
}

.front-card{
    width: 100%;
    position: relative;
}

.front-card-img{
    width: 100%;
}

.front-card-site-name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 25%;
}

.front-card-first-site-name{
    background: black;
    width: 75px;
    height: 75px;
    text-align: center;
    line-height: 70px;
    font-size: 34px;
    float: left;
}

.front-card-last-site-name{
    float: right;
    font-size: 35px;
}

.team, .about{
    margin-top: 50px;
}

.house-row{
    margin-top: 10px;
}

.house{
    position: relative;
}

.house-name{
    position: absolute;
    top: 0;
    left: 15px;
    background: black;
    color: white;
    padding: 10px;
}

.house-img{
    width: 100%;
    height: 200px;
}

.team-card-img{
    height: 170px;
}

.team-card-position{
    color: gray;
    font-weight: lighter;
}

.team-card-contact{
    border: none;
    text-align: center;
    width: 100%;
    padding: 10px;
}

.team-card-contact:hover{
    background: lightgray;
    cursor: pointer;
}

.contact-form{
    position: relative;
    width: 100%;
    height: 300px;
}

.contact-form-inputs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 65%;
}

.contact-form-input{
    border: 1px solid gray;
    padding: 10px;
    width: 100%;
}

.contact-form-submit{
    position: absolute;
    bottom: 0;
    left: 0;
    border: none;
    text-transform: uppercase;
    background: black;
    color: white;
    padding: 15px;
}

.map{
    margin-top: 50px;
}

.map-img{
    width: 100%;
}